body{
  background-color: lightcyan;
}

@keyframes shape-transition {
      0%, 100% {
        border-radius: 50%;  /* Circle shape */
      }
      50% {
        border-radius: 10%;   /* Square shape */
      }
    }
    
    .shape-animate, .shape-animate img {
      animation: shape-transition 6s ease-in-out infinite;
      overflow: hidden; /* Ensure the image corners are clipped to the border shape */
    }
    
    /* Adjust the border styling */
    .shape-animate {
      border: none; 
      width: 20rem; 
      height: 30rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    